
body
{
  background-color: #FCD8D4;
}
h1
{
  color: #835151;
}
h3
{
  color: #835151;
}
hr
{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
